*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
header{
    padding: 1rem;;
    font-size: 1.5em;
    color: white;
    text-transform: capitalize;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
}
.header-wrapper{
    max-width:2400px ;
    margin-left: auto;
    margin-right: auto;
}
.header-wrapper > div{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 3rem;

}
header .color__indicator{
    height: 1.5rem;
    width: 1.5rem;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
html{
    min-height: 100vh;
    position: relative;
}
body{
    background-color: rgb(2, 13, 36);
    height: 100%;
}
.container{
    --grid-side:100vmin;
    height:var(--grid-side);
    width: var(--grid-side);
    margin-top: .25em;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}
.container__sketchpad{
    border-radius: .25em;
    display: grid;
    width: 96%;
    height: 96%;
    padding: .1em;
    background-color: white;
}
.modal{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: hsla(180, 0%, 48%, 0.781);
    align-items: center;
    justify-content: center;
}
.modal.active{
    display: flex;
}
.modal form{
    background-color: rgb(2, 13, 36);
    color: white ;
    position: relative;
    padding: 2rem;
    padding-top: 4rem;
    border-radius: .5rem;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1.25rem;
}
.modal .close{
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: transparent;
    padding: 0%;
    color: white;
    border: none;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1em;
}
.modal .submit_btn{
    background-color: hsla(0, 0%, 100%, 0.158);
    color: white;
}
.modal .input-group{
    margin-bottom: 1rem;
}
.modal .input-group label{
    margin-bottom: 1em;
    display: block;
}
.modal .input-group input{
    width: 100%;
    font-size: 1.5rem;
    border-radius: .125em;
    padding: .25em .5em;
}
main{
    min-height: 60vh;
    max-width: 2400px;
    margin-left: auto;
    margin-right: auto;
}
.controls{
    padding-top: 1rem;
    margin-top: 1rem;
    padding-left: .75rem;
    padding-right: .75rem;
}
.controls ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.btn{
    border-radius: .25em;
    padding: .125em .75em;
    font-size: 1.125rem;
    text-transform: capitalize;
    margin-right: .5rem;
    font-weight: 600;
}
.controls__btns .btn{
    background-color: white;
    color: rgb(2, 13, 36);
    margin-top: .5rem;
}

.color__picker_btn.btn{
    color: white;
    background-image: linear-gradient(to right,red,green,blue);
    border-radius: .5rem;
}
.controls__color{
    margin-top: 1.5rem;
}
.color__picker{
    position: relative;
    width:100%;
}
.color__pallete{
    color: white;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.color__picker_pallete{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: rgb(255, 255, 255);
    gap: .25rem;
    grid-template-rows: repeat(5,1fr);
    padding: .25rem;
    border-radius: .25rem;
}
.color__value{
    border-radius: .175rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
footer{
    margin-top: 2rem;
    color: white;
    padding: 2rem 1rem;
    background-color: rgba(255, 255, 255, 0.2);
}
footer p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* MEDIA QUERY FOR BIG TABLETS AND DESKTOP*/
@media screen and (min-width: 820px) and (orientation:landscape){
    .container{
        --grid-side: min(60vw,90vh);
        margin-left: 0;
        margin-right: 0;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .controls{
        width: calc(100% - 57.5vw);
        padding-top: 0;
    }
    .color__picker_pallete{
        gap: .35rem;
    }
}